@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
  margin: 20px;
  font-family: Helvetica, sans-serif;
}

.my-container {
  border: 0px;
  background-color: #f4f4f5;
}

.my-row {
  border: 3px;
}

.my-col {
  border: 3px;
}

/*----------------------------------------menu*/

.menu li {
  display: inline-block;
  padding-top: 20px;
  padding-left: 0px;
  margin-left: -1px;
}



.menu-space {
  margin-left: -17px;
}

@media screen and (max-width: 600px) {
  /* For mobile phones: */
  .menu-space {
    margin-left: -52px;

  }
}

.slash {
  color: blue;
}

li a {

  color: blue;
  padding: 15px 1px;
  text-decoration: none;
}

li a:hover {
  background-color: blue;
  color: white;
}

.social {
  padding-left: 1px;
  float: right;
  margin-right: 10px;
  margin-bottom: 15px;
  padding-top: 15px;
}

.fa {
  padding: 10px;
  font-size: 10px;
  border-radius: 40%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

/*----------------------------------------image*/

.logo {
  background: url("./image/olu.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 360px;
  transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

.blue {
  background: blue;
}

.name {
  font-family: "Merienda One", sans-serif;
  font-weight: 100;
  font-size: 46px;
  margin-top: 100px;
  color: white;
  text-align: center;

}

.title {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 28px;
  margin-top: 50px;
  margin-bottom: 90px;
  color: white;
  text-align: center;
}

/*----------------------------------------Skill sections*/

h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

p {
  margin-left: 20px;
  margin-right: 20px;
}

.progress-section {
  margin: 10px -10px 10px -10px;
}

.progress {
  min-height: 25px;
  padding: 2px;
}

ul {
  color: white;
}

.history {
  color: black;
}

/*----------------------------------------timeline*/

/* The actual timeline (the vertical ruler) */

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: blue;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* main around content */

.main {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */

.main::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: white;
  border: 4px solid blue;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the main to the left */

.left {
  left: 0;
}

/* Place the main to the right */

.right {
  left: 50%;
}

/* Add arrows to the left main (pointing right) */

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid blue;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent blue;
}

/* Add arrows to the right main (pointing left) */

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid blue;
  border-width: 10px 10px 10px 0;
  border-color: transparent blue transparent transparent;
}

/* Fix the circle for containers on the right side */

.right::after {
  left: -12px;
}

/* The actual content */

.content {
  padding: 20px 30px;
  background-color: blue;
  position: relative;
  border-radius: 6px;
}

.content p {
  color: white;
}


h2 {
  color: white;
  font-size: 25px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */

@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

  /* Full-width mains */
  .main {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid blue;
    border-width: 10px 10px 10px 0;
    border-color: transparent blue transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left::after,
  .right::after {
    left: 15px;
  }

  /* Make all right mains behave like the left ones */
  .right {
    left: 0%;
  }
}

/*----------------------------------------footer*/

.footer {
  display: block;
  text-align: center;
  background-color: blue;
  color: white;
}


/* ----------------------------------------Contact Form */

.contact-heading {
  font-family: serif;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 25px;
}

.center-form {
  max-width: 50%;
  padding-top: 20px;
  margin: 0 auto;

}

.btn-secondary {
  color: white;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: blue;
}
